body > .scaffold > :is(top-nav, navigation-rail, side-nav, footer),
main > :not(:last-child),
main > :last-child > navigation-tree,
devsite-book-nav-bg,
main .toc-container {
  display: none;
}

main > :last-child {
  margin-top: min(10vmax, 10rem);
  margin-bottom: min(10vmax, 10rem);
}

/* Targeting common text elements */
body, p, h1, h2, h3, h4, h5, h6, a, span, div, li, ul, ol, dd, dt, blockquote, pre, code, th, td, label, input, textarea, button, b, strong, em, i {
  color: blue !important;
}

/* Ensuring that text inside links also turns blue */
a {
  color: blue !important;
}

/* Targeting any
